.main-about-image {
    height: 120vh;
    width: 100%;
    background-image: url('../Static/Images/trey_back1.2.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-bottom: -100px;
    opacity: 1;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 100px;
}

#name, .section-header {
    font-family: 'Montserrat', sans-serif; 
    font-size: 60px;
    color: white;
    padding: 0px;
    margin-bottom: 2px;
    font-weight: bold;
}

#about-container {
    width: 600px;
    padding: 20px;
    display: inline-block;
    background-color: rgba(192,192,192,0.7);
    border-radius: 5px;
}

#about-container p {
    color: rgb(53, 53, 53);
}

@media screen and (max-width: 1365px) {
    .section-details {
        width: 500px;
    }
}

@media screen and (max-width: 1120px) {
    .section-details {
        font-size: 15px;
        width: 400px;
    }
}

@media screen and (max-width: 905px) {
    #about-container {
        top: 1100px;
    }
}

@media screen and (max-width: 550px) {
    #about-container {
        left: 30px;
    }
}