body {
    font-family: 'Montserrat', sans-serif; 
}

.main-about-image {
    height: 937px;
    width: 100%;
    background-color: #2A2A2A;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-bottom: -200px;
    opacity: 1;
}

.form-container {
    position: fixed;
    left: 700px;
    top: 180px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

form { 
    display: table;   
}

p { 
    display: table-row;  
}

label { 
    display: table-cell;
}

input { 
    display: table-cell; 
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    border-radius: 2%;
    box-shadow: 1px 1px 2px 1px black;
}

textarea {
    height: 200px;
    margin-left: 20px;
    border-radius: 2%;
    box-shadow: 1px 1px 2px 1px black;
    font-family: 'Montserrat', sans-serif;
}

.form-label {
    color: white;
}

#name, .section-header {
    font-family: 'Montserrat', sans-serif; 
    font-size: 60px;
    color: white;
    padding: 0px;
    margin-bottom: 2px;
    font-weight: bold;
}

#form-header {
    color: white; 
    font-size: 40px;
    position: fixed;
    top: 70px;
    left: 780px;
}

#contact-form-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: black;
    color: white;
    margin-top: 10px;
    position: fixed;
    top: 660px;
    left: 1150px;
}

@media screen and (max-width: 1320px) {
    #contact-form-button {
        left: 950px;
    }

    .form-container {
        left: 500px;
    }

    #form-header {
        left: 600px;
    }
}

@media screen and (max-width: 1120px) {
    #contact-form-button {
        left: 700px;
    }

    .form-container {
        left: 250px;
    }

    #form-header {
        left: 350px;
    }
}

@media screen and (max-width: 870px) {
    #contact-form-button {
        left: 500px;
    }

    .form-container {
        left: 50px;
    }

    #form-header {
        left: 150px;
    }
}

@media screen and (max-width: 660px) {
    #contact-form-button {
        left: 290px;
        font-size: 12px;
    }

    .form-container {
        left: 50px;
    }

    #form-header {
        left: 120px;
    }

    textarea {
        width: 140px;
        height: 150px;
    }

    input {
        width: 110px;
    }
}