html, body {
    height: 100%;
    margin: 0;
}

.navbar-container {
    height: 60px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 3px 1px black;
    overflow: hidden;
    z-index: 99;
}

.nav-bar-left {
    float: left;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-right: 100px;
    visibility: visible;
}

.nav-bar-right {
    float: right;
    display: flex;
    padding: 10px;
    margin-top: -35px;
    margin-right: 100px;
    visibility: visible;
}

.navbar-item {
    font-family: 'Montserrat', sans-serif; 
    text-decoration: none;
    color: white;
    opacity: 0.7;
    padding: 20px;
}

.navbar-item:hover {
    opacity: 1;
}

.navbar-item-icon {
    opacity: 0.7;
}

.navbar-item-icon:hover {
    opacity: 1;
}

.item-icon {
    height: 30px;
    width: 30px;
}

.item-icon-home {
    height: 35px;
    width: 35px;
    margin: -9px 0px 0px 10px;
}

.footer-container {
    height: 200px;
    background-color: #1C2833;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
}

.main-about-image {
    height: 2000px;
    width: 100%;
    background-image: url('../Static/Images/trey_back1.png');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-bottom: -200px;
    opacity: 1;
}

.header-container {
    width: 600px;
    height: 120px;
    padding: 0px;
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 120px;
}

p.section-details {
    padding-top: 10px;
}

.side-nav {
    cursor: pointer;
    visibility: hidden;
    margin-top: 10px;
    margin-left: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
.sidenav a:hover {
    color: #f1f1f1;
  }
  
.sidenav #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

#projects-container > p.section-details {
    padding-top: 15px;
}

#about-container {
    width: 600px;
    height: 120px;
    padding-bottom: 10px;
    display: inline-block;
    position: absolute;
    top: 1000px;
    left: 120px;
    border-bottom: 2px solid white;
    visibility: hidden;
}

#projects-container {
    width: 600px;
    height: 120px;
    padding-bottom: 15px;
    display: inline-block;
    position: absolute;
    top: 1250px;
    left: 1000px;
    border-bottom: 2px solid white;
    visibility: hidden;
}

#skills-container {
    width: 600px;
    height: 120px;
    padding-bottom: 10px;
    display: inline-block;
    position: absolute;
    top: 1450px;
    left: 120px;
    border-bottom: 2px solid white;
    visibility: hidden;
}

#name, .section-header {
    font-family: 'Montserrat', sans-serif; 
    font-size: 60px;
    color: white;
    padding: 0px;
    margin-bottom: 2px;
    font-weight: bold;
}

#title, .section-details {
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    color: white;
    padding: 0px;
    margin-top: 2px;
}

@media screen and (max-width: 800px) {
    .header-container {
        display: inline-block;
        position: absolute;
        top: 300px;
        left: 120px;
        width: 300px;
    }
}

@media screen and (max-width: 1050px) {
    #projects-container {
        left: 120px;
    }
}


@media screen and (max-width: 645px) {
    #projects-container, #skills-container, #about-container {
        width: 300px;
    }
}

@media screen and (max-width: 450px) {
    .side-nav {
        visibility: visible;
    }
    .nav-bar-left {
        visibility: hidden;
    }
    .nav-bar-right {
        visibility: hidden;
    }

}


@media screen and (max-width: 800px) {
    .nav-bar-right {
        visibility: hidden;
    }

}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}