.main-about-image {
    height: 100vh;
    width: 100%;
    background-image: url('../Static/Images/trey_back1.2.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-bottom: -100px;
    opacity: 1;
}

#about-container {
    width: 600px;
    height: 120px;
    padding-bottom: 10px;
    display: inline-block;
    position: absolute;
    top: 1000px;
    left: 120px;
    border-bottom: 2px solid white;
    visibility: hidden;
}

#projects-container {
    width: 600px;
    height: 120px;
    padding-bottom: 15px;
    display: inline-block;
    position: absolute;
    top: 1250px;
    left: 1000px;
    border-bottom: 2px solid white;
    visibility: hidden;
}

#skills-container {
    width: 600px;
    height: 120px;
    padding-bottom: 10px;
    display: inline-block;
    position: absolute;
    top: 1450px;
    left: 120px;
    border-bottom: 2px solid white;
    visibility: hidden;
}

#projects-container > p.section-details {
    padding-top: 15px;
}

#name, .section-header {
    font-family: 'Montserrat', sans-serif; 
    font-size: 60px;
    color: white;
    padding: 0px;
    margin-bottom: 2px;
    font-weight: bold;
}

@media screen and (max-width: 1050px) {
    #projects-container {
        left: 120px;
        padding-bottom: 0px;
    }

    .footer-container {
        height: 200px;
    }

    .section-header {
        font-size: 50px;
        padding-bottom: 5px;
    }

    .section-details {
        font-size: 16px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 645px) {
    #projects-container, #skills-container, #about-container {
        width: 300px;
    }
}
