.main-about-image {
    height: 2000px;
    width: 100%;
    background-image: url('../Static/Images/skills.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-bottom: -200px;
    opacity: 1;
}

#name, .section-header {
    font-family: 'Montserrat', sans-serif; 
    font-size: 60px;
    color: white;
    padding: 0px;
    margin-bottom: 2px;
    margin-top: 10px;
    font-weight: bold;
}

